

<div class="row">
  <div class="columns small-12 medium-12 large-12">
      <h1>Post a tutorial</h1>
  </div>
</div>

<form [formGroup]="postForm" (ngSubmit)="addPost(postForm.value)">
  <div class="row">
    <div class="columns small-12 medium-6">
      <label>Title
        <input type="text" name="title" [formControl]="postForm.controls['title']">
      </label>
      <div class="alert" *ngIf="!postForm.controls['title'].valid && postForm.controls['title'].touched">Title must be at least 10 characters long</div>
    </div>
    <div class="columns small-12 medium-6">
      <label>URL
        <input type="text" name="url" [formControl]="postForm.controls['url']">
      </label>
      <div class="alert" *ngIf="!postForm.controls['url'].valid && postForm.controls['url'].touched">URL is required</div>
    </div>
  </div>
    <div class="row columns">
        <label>Description
            <textarea name="desc" id="desc" cols="30" rows="10" [formControl]="postForm.controls['desc']"></textarea>
        </label>
        <div class="alert" *ngIf="!postForm.controls['desc'].valid && postForm.controls['desc'].touched">Description must be at least 30 characters long</div>
          <input type="submit" class="button filled" value="Post Tutorial" [disabled]="!postForm.valid">
    </div>
</form>
