
<div *ngIf="post" class="body-blur">

  <div class="row">
    <div class="columns small-12 medium-10">
      <a routerLink="/" class="button large">Back</a>
      <h1>{{ post.title }}</h1>
    </div>
    <div class="columns small-12 large-2">
      <a href="{{ post.url }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="783.337 475.258 110.233 109.99"><defs>
          <style>.a{fill:#00e4ac;}.b,.c{fill:none;stroke:#2a3136;}.b{stroke-width:4px;}.c{stroke-width:3px;}</style></defs>
          <g transform="translate(270 58)"><ellipse class="a" cx="55.117" cy="54.995" rx="55.117" ry="54.995" transform="translate(513.337 417.258)"/>
          <line class="b" y1="32.167" x2="33.278" transform="translate(551.814 456.17)"/><line class="c" y1="23.866" transform="translate(586.132 454.613)"/>
          <line class="c" x2="23.918" transform="translate(563.253 455.651)"/></g></svg>
      </a>
    </div>
  </div>

  <div class="row columns">
    <p>{{ post.desc }}</p>
  </div>

</div>

